<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}  {% endblock title %}</title>

</head>
<body>
  <header>
    <nav>
      <a href="{% url 'login' %}">
        <span role="img" aria-label="Log In" title="LogIn">👤</span>
      </a>

      <a href="{% url 'register' %}">
        <span role="img" aria-label="register" title="Register">📝</span>
      </a>

      <a href="{% url 'logout' %}">
        <span role="img" aria-label="logout" title="logout">👋</span>
      </a>

    </nav>
  </header>
  {% block content %}  {% endblock content %}
</body>
</html>